{% extends "checked/product_base.html" %}
{% load static %}

{% block content_wrapper %}
    <div class="content__wrapper">
        <div class="filter container">
            <div class="filter__wrapper">
                <div class="filter__header-container">
                    <button id="button-swith-form">
                        {% load static %}
                        <img src="{% static 'checker/icons/icon-filter-05.svg' %}" alt="" width="15">
                        <h3 class="filter__header">Фільтр</h3>
                    </button>
                </div>
                <form method="get" class="filter__form" id="filter-form">
                    <div class="filter__form-container">
                            <label for="search">Пошук</label>
                            {% load static %}
                            {{ filter.form.name }}
                    </div>
                    <div class="filter__form-container">
                            <label for="product">Продукт</label>
                            {{ filter.form.item }}
                    </div>
                    <div class="filter__form-container">
                            <label for="status">Статус</label>
                            {{ filter.form.status }}
                    </div>
                    <div class="filter__form-container">
                            <label for="size">Розмір</label>
                            {{ filter.form.size }}
                    </div>
                    <div class="filter__form-container">
                            <label for="date">Дата</label>
                            {{ filter.form.created_at }}
                    </div>
                    {% if filter.form.designer %}
                        <div class="filter__form-container">
                                <label for="designer">Дизайнер</label>
                                {{ filter.form.designer }}
                        </div>
                    {% elif filter.form.manager %}
                        <div class="filter__form-container">
                                <label for="manager">Менеджер</label>
                                {{ filter.form.anager }}
                        </div>
                    {% else %}
                        <div class="filter__form-container">
                                <label for="designer">Дизайнер</label>
                                {{ filter.form.designer }}
                        </div>
                        <div class="filter__form-container">
                                <label for="manager">Менеджер</label>
                                {{ filter.form.anager }}
                        </div>
                    {% endif %}
                    <button type="submit" class="submit-button">Підтвердити</button>
                </form>
            </div>
        </div>
        <div class="content">
        {% for obj in page_obj %}
            <div class="content__item-container">
                <div class="content__item-decor"></div>
                <div class="content__item-content container {{ obj.status.div_status_class }}">
                    <div class="content__item-element content__item-element-title">
                        <h6 class="content__item-title">Назва:</h6>
                        <p class="content__item-text">
                            <a href="{{ obj.get_absolute_url }}" style="color: black;">{{ obj.name }}</a>
                        </p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Тип:</h6>
                        <p class="content__item-text">{{ obj.item }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Категорія:</h6>
                        <p class="content__item-text">{{ obj.item.category }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <div class="change-size-wrapper">
                            <h6 class="content__item-title size">Розмір:</h6>
                            <select class="content__item-size-selector" id="size-selector-{{ obj.id }}">
                                <option value="1">мм</option>
                                <option value="2">см</option>
                            </select>
                        </div>
                        <p class="content__item-text" id="size-text-{{ obj.id }}">{{ obj.size.width }}<span>x</span>{{ obj.size.height }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Матеріал:</h6>
                        <p class="content__item-text">{{ obj.paper }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Покриття:</h6>
                        <p class="content__item-text">{{ obj.cover }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Кількість:</h6>
                        <p class="content__item-text">{{ obj.quantity }}</p>
                    </div>
                    <div class="content__item-line"></div>
                    <div class="content__item-element download-button">
                            <button class="download-button">
                                <img src="{% static 'checker/icons/icon-download-button.svg' %}" alt="" width="23">
                            </button>
                    </div>
                    <div class="content__item-element">
                        <h6 class="content__item-title">Редагувати:</h6>
                        <a href="{% url 'checker:edit_product' obj.pk %}" style="color: black;" class="content__item-text">Edit</a>
                    </div>
                </div>
                <div class="content__item-status container {{ obj.status.div_status_class }}">
                    <p>Статус:</p>
                    <div class="status_image {{ obj.status.img_status_class }}"></div>
                    <p>{{ obj.status.name }}</p>
                </div>
            </div>
        {% endfor %}
            <div class="paginator-wrapper">
                <div class="paginator">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="paginator-item container">&laquo;</a>
{#                            <a href="?page={{ page_obj.previous_page_number }}" class="paginator-item container">prev</a>#}
                            <a href="?page={{ page_obj.previous_page_number }}" class="paginator-item container">{{ page_obj.previous_page_number }}</a>

{#                            <a href="?page={{ 1 }}" class="paginator-item container">prev</a>#}
                        {% endif %}
                        <span class="paginator-item current container">
                            {{ page_obj.number }}
{#                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}#}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="paginator-item container">{{ page_obj.next_page_number }}</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="paginator-item container">&raquo;</a>
                        {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'checker/js/index.js' %}"></script>
{% endblock %}