<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
<h1>{{ product.name }}</h1>
<ul>
    <li>{{ product.item }}</li>
    <li>{{ product.size }}</li>
    <li>{{ product.paper }}</li>
    <li>{{ product.cover }}</li>
    <li>{{ product.description }}</li>
    <li>{{ product.manager }}</li>
    <li>{{ product.designer }}</li>
    <li>{{ product.created_at }}</li>
    <li>{{ product.status }}</li>
    <li>{{ product.quantity }}</li>
    {% if images %}
        {% for image in images %}
            <li><img src="{{ image.thumbnail.url }}" alt=""></li>
        {% endfor %}
    {% endif %}

{#    <li><img src="{{ product.front_thumbnail.url }}" alt=""></li>#}
{#    {% if product.back_thumbnail %}#}
{#        <li><img src="{{ product.back_thumbnail.url }}" alt=""></li>#}
{#    {% endif %}#}
</ul>
</body>
</html>